<div class="modal-header">
                                    <h3 class="modal-title" id="modal-title">Add products to your cart!</h3>
                                </div>
                                <div class="modal-body" id="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="nb">How many products did you order?</label>
                                            <input type="number" class="form-control" id="nb">
                                        </div>
                                    </form>
                                      <div class="col-md-12">
                        <ul ng-repeat="product in ctrl.panier">
                           <li><a href="#">[[product.ProductName]]</a></li>
                            <li><a href="#">[[product.Category]]</a>
                                   <div class="product-carousel-price">
                            <ins>[[product.Price | currency]]</ins>
                                <p ng-class=checkVariation(product.Variation)> [[product.Variation]]</p>
                            </div>

                        </ul></div>
                                    Selected: <b>[[ ctrl.selected.item ]]</b>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-success" type="button" ng-click="ctrl.ok()">OK</button>
                                    <button class="btn btn-danger" type="button" ng-click="ctrl.cancel()">Cancel</button>
                                </div>