<div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" ng-repeat="cat in categories" >
          <li > <a href ng-click="update(cat)">[[cat]]</a> </li>
        </ul>
        <!--uib-tabset ng-repeat="cat in categories" active="activeJustified" justified="true">
            <uib-tab>
                <li role="presentation">
                    <a href ng-click="update(cat)">[[cat]]</a> 
                </li>
            </uib-tab>
        </uib-tabset>
      </div-->
    </div>
    <div class="col-md-9 col-md-offset-1">
        <div class="latest-product">
            <h2 class="section-title">[[chosenCategory]]</h2>
            <div class="product-carousel">
                <div ng-repeat="product in products">
                    <div class="single-product">
                        <div class="col-md-4 col-sm-6">
                            <div class="product-f-image">
                                <img ng-src="[[product.Image]]" alt="" class="product-image">
                                <div class="product-hover">
                                    <a class="view-details-link" href="" ng-click="switchTo('/show/[[product.id]]')"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>
                            <h2><a>[[product.ProductName]]</a></h2>
                            <div class="product-carousel-price">
                                <ins>[[product.Price | currency]]</ins>
                                <p ng-class=checkVariation(product.Variation)> [[product.Variation]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
