<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>single Product</title>
      </head>
  <body>        
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Product details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                
                    <!--div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        <div class="thubmnail-recent">
                            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins> <del>$800.00</del>
                            </div>                             
                        </div>
                    </div-->
                    
                    <!--to add recent posts>
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Recent Posts</h2>
                        <ul>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                        </ul>
                    </div-->



                <div class="col-md-10 col-md-offset-1">
                    <div class="product-content-right well lead">
                        
                        <div class="row">
                            <h2> [[selectedProd.ProductName]] </h2>
                            
                                <div class="product-inner">
                                    <ul>
                                        <li>Category: [[selectedProd.Category]]</li>
                                        <li>[[selectedProd.Brand]]</li>
                                        <li><img class="thumbnail col-md-6" width="35%" ng-src="[[selectedProd.Image]]"></li>
                                        <li>Product material: [[selectedProd.ProductMaterial]]</li>
                                        <li>Delivery date: [[selectedProd.Delivery.date | date]]</li>
                                        <li>[[selectedProd.Details]]</li>
                                        
                                        <li><div class="product-carousel-price">
                                          <ins>[[selectedProd.Price | currency]]</ins>
                                           <p ng-class=checkVariation(selectedProd.Variation)> [[selectedProd.Variation]]</p>
                                        </div>
                                        </li>    
                                    </ul>
                                            

                                            <a href="" class="add-to-cart-link btn" ng-click="cartAdd(selectedProd)">
                                            <h2><i class="fa fa-shopping-cart"></i> Add to cart</h2></a>
                                            <br>           
                                            <button type="button" class="btn btn-default btn-lg" href="" ng-click="switchTo('/show')">
                                            <span class="glyphicon glyphicon-th" aria-hidden="true"> </span> Go to shop page
                                            </button>
                                                     
                                            <button type="button" class="btn btn-default btn-lg" href="" ng-click="switchTo('/home')">
                                            <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> Return to home page
                                            </button>
                                                         <!--div class="product-option-shop2 col-md-10 col-md-offset-1">
                
                      <ion-nav-back-button class="add_to_cart_button" href="" ng-click="switchTo('/show')">
                          
                          <a class="button button-icon my-back-button" href="">
                                
                           </a>
                           
                          
                      </ion-nav-back-button>
                
                                                     </div-->


                                </div>
                            
                        </div>    
                    </div>                    
                </div>
            </div>
        </div>
    </div>
 </body>
</html>