<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>single Product</title>
      </head>
  <body>        
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Product details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

     

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
               <div class="col-md-10 col-md-offset-1">
                    <div class="product-content-right well lead">
                        
                        <div class="row">
                            <h2> [[selectedProd.ProductName]] </h2>
                            
                                <div class="product-inner">
                                    <ul>
                                        <li>Category: [[selectedProd.Category]]</li>
                                        <li>[[selectedProd.Brand]]</li>
                                        <li><img class="thumbnail col-md-6" width="35%" ng-src="[[selectedProd.Image]]"></li>
                                        <li>Product material: [[selectedProd.ProductMaterial]]</li>
                                        <li>Delivery date: [[selectedProd.Delivery.date | date]]</li>
                                        <li>[[selectedProd.Details]]</li>
                                        
                                        <li><div class="product-carousel-price">
                                          <ins>[[selectedProd.Price | currency]]</ins>
                                           <p ng-class=checkVariation(selectedProd.Variation)> [[selectedProd.Variation]]</p>
                                        </div>
                                        </li>    
                                   
                                          <li>  
                                             <div ng-hide="adding">
                                            <a href="" class="add-to-cart-link btn" ng-click="switchOn()">
                                            <h2><i class="fa fa-shopping-cart"></i> Add to cart</h2></a>
                                                </div>

                                        <div class="input-group"  ng-show="adding">
                                       <input type="number" class="form-control" min="1" plcaeholder="How Many?" ng-model="quantity"/>
                                       <span class=" input-group-btn">
                                        <a class="btn btn-info"  href="" type="button" ng-click="switchOff(selectedProd,quantity)"> Confirm!</a>
                                        </span>
                                        </div>
                                        </li>
                                         </ul>
                                            <button type="button" class="btn btn-default btn-lg" href="" ng-click="switchTo('/show')">
                                            <span class="glyphicon glyphicon-th" aria-hidden="true"> </span> Go to shop page
                                            </button>
                                                     
                                            <button type="button" class="btn btn-default btn-lg" href="" ng-click="switchTo('/home')">
                                            <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> Return to home page
                                            </button>

                                </div>


                            
                        </div>   
                                <div uib-alert ng-repeat="alert in alerts" dismiss-on-timeout=4000 ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">[[alert.msg]]</div> 
                    </div>                    
                </div>
            </div>
        </div>
    </div>
 </body>
</html>