<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Herpaka app</title>
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <!--for template register-->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>    
   <!--jQuery-->
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js')}}"></script>    
    <script src="{{ asset('assets/vendor/jquery.easing/js/jquery.easing.min.js')}}"></script>
    <script src="{{ asset('assets/vendor/jquery.sticky/jquery.sticky.js')}}"></script>

    <!--owl-carousel-->
    <script src="{{ asset('assets/vendor/owl.carousel/dist/owl.carousel.min.js')}}"></script>
    <link rel="stylesheet" href="{{ asset('assets/vendor/owl.carousel/dist/assets/owl.carousel.min.css')}}">
    

    <script src="{{ asset('main_js/main.js')}}"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css')}}">
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{ asset('assets/vendor/angular-bootstrap/ui-bootstrap-csp.css')}}">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css')}}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('global_css/style.css')}}">
    <link rel="stylesheet" href="{{ asset('global_css/login.css')}}">
    <link rel="stylesheet" href="{{ asset('global_css/responsive.css')}}">
    <link rel="stylesheet" href="{{ asset('main_css/style.css')}}">
    <link rel="stylesheet" href="{{ asset('main_css/autocomplete.css')}}">


    <!-- angular -->
    <script src="{{ asset('assets/vendor/angular/angular.min.js')}}"></script>

    <!-- main angular.module -->
    <script src="{{ asset('assets/vendor/angular-route/angular-route.min.js')}}"></script>
    <script src="{{ asset('assets/vendor/angular-animate/angular-animate.min.js')}}"></script>
    <script src="{{ asset('assets/vendor/angular-touch/angular-touch.min.js')}}"></script>
    <script src="{{ asset('assets/vendor/angular-bootstrap/ui-bootstrap.min.js')}}"></script>
    <script src="{{ asset('assets/vendor/angular-cache/dist/angular-cache.min.js')}}"></script>
    <script src="{{ asset('assets/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js')}}"></script>

    <script src="{{ asset('main_js/app.js')}}"></script>
    <!-- routes -->
    <script src="{{ asset('main_js/config.js')}}"></script>
    <!-- services -->
    <script src="{{ asset('main_js/services.js')}}"></script>
    <script src="{{ asset('main_js/autocomplete.js')}}"></script>
    <!-- Controllers -->
    <script src="{{ asset('front_end/product/controllers-product/listproductCtrl.js')}}"></script>
    <script src="{{ asset('front_end/product/controllers-product/ModalDemoCtrl.js')}}"></script>
    <script src="{{ asset('front_end/product/controllers-product/ModalInstanceCtrl.js')}}"></script>
    <script src="{{ asset('front_end/product/controllers-product/singleproductCtrl.js')}}"></script>
    <script src="{{ asset('front_end/user/controller-user/loginCtrl.js')}}"></script>
    <script src="{{ asset('front_end/user/controller-user/registerCtrl.js')}}"></script>
    <script src="{{ asset('front_end/mainCtrl.js')}}"></script>
    
    <!-- views -->
    
    <!--templates-->
   
    <!--template for home page-->
    <!--todo:this template should be hidden once the user is authenticated-->
    <!--this template has no controller-->
    <script type="text/ng-template" id="home.html">
        {% include 'partials/home.html' %}
    </script>

    <!--template for shop page-->
    <script type="text/ng-template" id="listproduct.html">
        {% include 'partials/listproduct.html' %}
    </script>

    <!--template for singleproduct-->
    <script type="text/ng-template" id="singleproduct.html">
        {% include 'partials/singleproduct.html' %}
    </script>

    
    <!--template for categories-->
    <!--this template has no controller-->
    <script type="text/ng-template" id="categories.html">
        {% include 'partials/categories.html' %}
    </script>

        <!--template for login--> 
    <script type="text/ng-template" id="login.html">
        {% include 'partials/login.html' %}
    </script>

    <!--template for register-->
    <script type="text/ng-template" id="register.html">
        {% include 'partials/register.html' %}
    </script>

    <!--template for cart-->
    <script type="text/ng-template" id="cart.html">
        {% include 'partials/cart.html' %}
    </script>

    <!--template for checkout-->
    <script type="text/ng-template" id="checkout.html">
        {% include 'partials/checkout.html' %}
    </script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>


<body>
    {% include 'navbar.html' %} 
    <!--div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <div class="col-sm-12 col-md-12">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="" ng-click="switchTo('/login')"> Log in </a></li>
                            <li><a href="" ng-click="switchTo('/register')"> Register </a></li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="" ng-click="switchTo('/home')">Home</a></li>
                        <li><a href="" ng-click="switchTo('/show')">Shop page</a></li>
                        <li><a href="" ng-click="switchTo('/categories')">Categories</a></li-->
                        <!--li>
                            <div id="custom-search-input">
                                <div class="input-group offset-md-6 col-md-6">
                                    <div ng-controller="MyCtrl" style="color: black !important">
                                        <autocomplete ng-model="result" attr-placeholder="type to search movies..." click-activation="true" data="movies" on-type="doSomething" on-select="doSomethingElse">
                                        </autocomplete>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button">
                                            <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                    </span>
                                </div>
                            </div>
                        </li-->
                    <!--/ul>
                    <div class="col-sm-5 col-md-5 pull-right">
                        <div ng-controller="ModalDemoCtrl as ctrl" class="modal-demo">
                            <script type="text/ng-template" id="myModalContent.html">
                                {% include 'partials/cartmodal.html' %}
                            </script>
                            <a href="#" class="pull-right" ng-click="ctrl.open()">
                                <img src="{{ asset('assets/images/Shopping-Cart.png')}}" alt="Shopping-Cart" height="42" width="42">
                            </a>
                        </div>
                        <form class="navbar-form" role="search">
                            <div class="input-group"-->
                                <!--input type="text" class="form-control" placeholder="Search" name="q"-->
                                <!--div ng-controller="MyCtrl" style="color: black !important">
                                    <autocomplete ng-model="result" attr-placeholder="type to search products..." click-activation="true" data="products" on-type="doSomething" on-select="doSomethingElse">
                                    </autocomplete>
                                </div>
                                <div class="input-group-btn">
                                    <button class="btn btn-danger" type="button" ng-click="test()">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div-->
    <!-- End mainmenu area -->
    
    <!-- Start Partial View -->
    <div ng-view class="slider-area">
    </div>
   
    <!-- End Partial View -->
    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2><span>Herpaka app</span></h2>
                        <p>we're the best, we're awesome, we'll rock the ATS project. oh lalalalalalalalalalalalalalalalalalalalalalala</p>
                        <div class="footer-social">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">User Navigation </h2>
                        <ul>
                            <li><a href="">My account</a></li>
                            <li><a href="">Order history</a></li>
                            <li><a href="">Wishlist</a></li>
                            <li><a href="">Vendor contact</a></li>
                            <li><a href="">Front page</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Categories</h2>
                        <ul>
                            <li><a href="">Mobile Phone</a></li>
                            <li><a href="">Home accesseries</a></li>
                            <li><a href="">LED TV</a></li>
                            <li><a href="">Computer</a></li>
                            <li><a href="">Gadets</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title">Newsletter</h2>
                        <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                        <div class="newsletter-form">
                            <input type="email" placeholder="Type your email">
                            <input type="submit" value="Subscribe">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; HerpakaApp. All Rights Reserved. Coded with <i class="fa fa-heart"></i> by <a href="http://www.google.com" target="_blank">Herpaka</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End footer bottom area -->
</body>

</html>
