{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class="container">
	    <div class="row">
	        <div class="col-sm-6 col-md-6 col-md-offset-3">
	            <hr />
	            <h2 class="title text-center" >Registration check email</h2>
	            <hr />
	            <p class="lead">Hello <b>{{user.username}}!</b></p> 
	            <p class="lead">Check your email at <b>{{user.email}}</b> </p>
	    	</div>
	    </div>
	</div>
{% endblock fos_user_content %}
