{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="container">    
	<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">     <div class="panel panel-info" >
	        <div class="panel-heading">
	            <div class="panel-title">Sign In</div>
	            <div style="float:right; font-size: 80%; position: relative; top:-10px">
	            	<a href="#">Forgot password?</a>
	            </div>
	        </div> 
	        <div style="padding-top:30px" class="panel-body" >
	        	<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

					<form action="{{ path("fos_user_security_check") }}" method="post">
					    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

					    <div class="form-group">
					        <label for="username">Username</label>
					        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
					    </div>

					    <div class="form-group">
					        <label for="password">Password</label>
					        <input type="password" id="password" name="_password" required="required" />
					    </div>

					    <div class="checkbox">
					        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
					        <label for="remember_me">Remember me</label>
					    </div>

					    <input type="submit"
					           class="btn btn-success btn-lg"
					           id="_submit"
					           name="_submit"
					           value="Login" />
					</form>
			</div>
		</div>                     
    </div>  
</div>
{% endblock fos_user_content %}